---
layout: page
title: Reading
description: "飞翔痕迹"
header-img: "img/pages/reading.jpg"
---


<div id="post-list">

<ul class="post-list">
{% for post in site.categories.reading %}
{% if post.title != null %}
{% if group == null or group == post.group %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
          {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endif %}
{% endif %}
{% endfor %}
{% assign group = nil %}
</ul>
</div>
